generated/n8n/n8n.workflow.design.workflow.json
{
  "id": "workflow-626d92ec5e79",
  "versionId": "eeddd674-61af-a978-c6e7-e89d5d9f40b5",
  "name": "tool.n8n.workflow.design",
  "nodes": [
    {
      "id": "node-9789a71f43bc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "532abf75-dbd8-5c1c-f0db-e19e9020a48a",
      "parameters": {
        "httpMethod": "POST",
        "path": "agent/n8n-workflow-design",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-597fe2e7cbc9",
      "name": "Stamp Tool",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58d9ba74-aba7-382a-061e-e223473dfbbe",
              "name": "tool",
              "value": "n8n.workflow.design",
              "type": "string"
            },
            {
              "id": "df2f9336-e6ba-e8e8-3671-919f35d607dd",
              "name": "summary",
              "value": "Design an n8n workflow draft and optionally scaffold a local review workflow.",
              "type": "string"
            },
            {
              "id": "6f21151c-63d1-3dd1-0066-9ec94bf3f1c1",
              "name": "payload",
              "value": "={{$json.body ?? $json}}",
              "type": "object"
            },
            {
              "id": "8b9dd16e-15fc-3efa-50ee-198abc14ad18",
              "name": "receivedAt",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-1014f2480b52",
      "name": "Control Plane",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:4391/api/n8n.workflow.design",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.payload}}",
        "options": {}
      }
    },
    {
      "id": "node-3550e36aab4d",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Stamp Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Tool": {
      "main": [
        [
          {
            "node": "Control Plane",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Plane": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "meta": {
    "generatedBy": "super-agent",
    "toolName": "n8n.workflow.design",
    "inputSchema": [
      {
        "name": "goal",
        "type": "string",
        "required": true,
        "description": "Desired workflow outcome"
      },
      {
        "name": "name",
        "type": "string",
        "required": false,
        "description": "Optional workflow or tool name override"
      },
      {
        "name": "constraints",
        "type": "array",
        "required": false,
        "description": "Optional hard constraints for the workflow draft"
      },
      {
        "name": "promoteToN8n",
        "type": "boolean",
        "required": false,
        "description": "Import the generated review workflow into n8n when true"
      }
    ],
    "controlPlaneBaseUrl": "http://127.0.0.1:4391"
  },
  "active": false,
  "tags": []
}
