generated/n8n/notes.capture.workflow.json
{
  "id": "workflow-fb97a383f8b2",
  "versionId": "658012dd-cba7-325c-69a0-9ebe82dc7730",
  "name": "tool.notes.capture",
  "nodes": [
    {
      "id": "node-2fe6f0750270",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "bfb6577a-c5b4-62f5-9e25-ab9d8550b43d",
      "parameters": {
        "httpMethod": "POST",
        "path": "agent/notes-capture",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-696963a493f3",
      "name": "Stamp Tool",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "658e6e3d-e6b1-040f-8598-88cf2fb8d6e6",
              "name": "tool",
              "value": "notes.capture",
              "type": "string"
            },
            {
              "id": "4b3fa217-8e9d-9399-1759-d5ce11bca715",
              "name": "summary",
              "value": "Capture a durable note request into the local automation lane.",
              "type": "string"
            },
            {
              "id": "cc23ffd4-45ed-9a09-d9a7-4d2dd00f1ccb",
              "name": "payload",
              "value": "={{$json.body ?? $json}}",
              "type": "object"
            },
            {
              "id": "576b8a85-d8d3-f3ea-e531-ae2ee8bf589b",
              "name": "receivedAt",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-e79a5796c985",
      "name": "Control Plane",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:4391/api/notes.capture",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.payload}}",
        "options": {}
      }
    },
    {
      "id": "node-338d160ed649",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Stamp Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Tool": {
      "main": [
        [
          {
            "node": "Control Plane",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Plane": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "meta": {
    "generatedBy": "local-super-agent-kit",
    "toolName": "notes.capture",
    "inputSchema": [
      {
        "name": "title",
        "type": "string",
        "required": true,
        "description": "Short note title"
      },
      {
        "name": "content",
        "type": "string",
        "required": true,
        "description": "Markdown content"
      }
    ],
    "controlPlaneBaseUrl": "http://127.0.0.1:4391"
  },
  "active": false,
  "tags": []
}
