generated/n8n/tool.generate.workflow.json
{
  "id": "workflow-28458b78f5e1",
  "versionId": "2e07a600-64a6-729c-7158-86f658b3b712",
  "name": "tool.tool.generate",
  "nodes": [
    {
      "id": "node-380eef4874c3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "1c1f185d-d03c-03f1-fe22-4a18a6d09e7f",
      "parameters": {
        "httpMethod": "POST",
        "path": "agent/tool-generate",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-786d3e9e0618",
      "name": "Stamp Tool",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07b1fb65-8e28-2bb7-6279-895bb1a9e373",
              "name": "tool",
              "value": "tool.generate",
              "type": "string"
            },
            {
              "id": "5bc8574e-de34-8627-14a6-239fe1aaed50",
              "name": "summary",
              "value": "Generate, validate, and promote a newly generated tool surface.",
              "type": "string"
            },
            {
              "id": "e299b9db-1b3a-762a-03dc-e33e3081efeb",
              "name": "payload",
              "value": "={{$json.body ?? $json}}",
              "type": "object"
            },
            {
              "id": "24d9b07b-f2ac-c496-1665-8b6c2231d411",
              "name": "receivedAt",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-d506ecaf39a8",
      "name": "Control Plane",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:4391/api/tool.generate",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.payload}}",
        "options": {}
      }
    },
    {
      "id": "node-1ba6b86ef809",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Stamp Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Tool": {
      "main": [
        [
          {
            "node": "Control Plane",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Plane": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "meta": {
    "generatedBy": "local-super-agent-kit",
    "toolName": "tool.generate",
    "inputSchema": [
      {
        "name": "name",
        "type": "string",
        "required": false,
        "description": "Optional explicit tool name override"
      },
      {
        "name": "webhookPath",
        "type": "string",
        "required": false,
        "description": "Optional explicit webhook path override"
      },
      {
        "name": "goal",
        "type": "string",
        "required": true,
        "description": "Desired automation capability"
      }
    ],
    "controlPlaneBaseUrl": "http://127.0.0.1:4391"
  },
  "active": false,
  "tags": []
}
