generated/n8n/web.fetch.workflow.json
{
  "id": "workflow-780d1163b2e4",
  "versionId": "4c00c92c-0697-625d-b660-681bbb09a336",
  "name": "tool.web.fetch",
  "nodes": [
    {
      "id": "node-efaa9a798a47",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "26817204-bd9c-fa6d-e2ec-a7318fe3cf19",
      "parameters": {
        "httpMethod": "POST",
        "path": "agent/web-fetch",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-d8aea7a84cca",
      "name": "Stamp Tool",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3ae1ff0-bf50-ff91-fba0-a25febcf15ca",
              "name": "tool",
              "value": "web.fetch",
              "type": "string"
            },
            {
              "id": "7189d70d-fd49-d914-23a6-ce70b04cb8cc",
              "name": "summary",
              "value": "Fetch a URL through a deterministic webhook lane.",
              "type": "string"
            },
            {
              "id": "193a0c84-448f-d855-fe6f-762bc1749ecd",
              "name": "payload",
              "value": "={{$json.body ?? $json}}",
              "type": "object"
            },
            {
              "id": "a4d3197a-96ba-5a0d-eb49-5ba48fae5c4d",
              "name": "receivedAt",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-25292d33f278",
      "name": "Control Plane",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:4391/api/web.fetch",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{$json.payload}}",
        "options": {}
      }
    },
    {
      "id": "node-411ea5924297",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Stamp Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Tool": {
      "main": [
        [
          {
            "node": "Control Plane",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Plane": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "meta": {
    "generatedBy": "local-super-agent-kit",
    "toolName": "web.fetch",
    "inputSchema": [
      {
        "name": "url",
        "type": "string",
        "required": true,
        "description": "Absolute URL to fetch"
      }
    ],
    "controlPlaneBaseUrl": "http://127.0.0.1:4391"
  },
  "active": false,
  "tags": []
}
